.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: palevioletred;
}
.container{
  
  text-align: center;
}
h1{
  font-size: 120px;
  color: white;
}
h2{
  font-size: 80px;
  color: rgb(102, 0, 48);
}
button{
  font-size: 90px;
  color: palevioletred;
  width: fit-content;
  height: 120px;
  margin: 10px;
  border-radius: 15px;
}